*{
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}
/* ---HEADER---*/
#main-header{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #E0E0E0;
}
.hamb-menu{
  display: none;
}
.hamb-menu div{
  display: none;
  width: 18px;
  height: 2px;
  border-bottom: 1px solid #000;
}
#main-header h2{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #333;
}
.main-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-logo h2{
  justify-content: left;
  align-items: left;
  display: flex;
  float: left;

}
#main-nav{
  width: 350px;
  height: 40px;
}
#main-nav a{
  color: #333;
  text-decoration: none;
}
#main-nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-nav li{
  text-align: center;
  border-left: 1px #000 solid;
}
#main-nav li:first-child{
  border: none;
}
#main-nav li:hover{
  background-color: #979797;
}
.hamb-nav{
  display: none;
}
/* Container */
.main-container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}
#hamb-nav{
  display: none;
}

/*---BOX-TRANSAÇÃO---*/

.box-trans{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26.6%;
  height: fit-content;
  margin: 30px 20px;
  border: 1px solid  #979797;
  border-radius: 4px;
}
#subtitulo{
  font-size: 14px;
  line-height: 22px;
  color: #333;
}
.box-trans h2{
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.box-trans form{
  width: 90%;
}
.box-trans h2{
  margin: 5%;
}
.inputbox1{
  width: 100%;
  height: 30px;
  margin-bottom: 5%;
  border-radius: 4px;
}
#tipo-trans{
  color: #888;
}
input[type="submit"]{
  background: #333;
  color: #fff;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid #000;
}

/*---BOX-EXTRACT---*/
.box-extract{
  width: 43.3%;
  padding: 0% 2%;
  height: fit-content;
  margin-top: 30px;
}
.box-extract h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.box-extract h2{
  text-align: center;
  width: 100%;
}
.subtitulo-extract{
  display: flex;
  padding: 2%;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid #979797;
}

#tabela-extract{
  width: 100%;
  height: auto;
}
tr{ 
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 2% 0%;
  border-bottom: 1px solid #979797;
}

@media screen and (max-width:768px) and (min-width:411px){
  .main-container{
    display: flex;
    padding: 0;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #main-header{
    padding: 0% 5%;
  }
  .main-logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #main-nav{
    display: none;
  }
  .hamb-menu{
    justify-content: center;
    align-items: center;
  }
  .hamb-menu div{
    width: 20px;
    height: 6px;
    align-items: center;
    position: relative;
    display: flex;
  }
  .box-trans{
    width: 90%;
    margin-top: 2%;
    border: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-radius: 4px;
  }
  .box-trans form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .box-trans .inputbox1{
    width: 50%
  }
}
@media screen and (max-width:411px){
  *{
    padding: none;
    margin: none;
    box-sizing: border-box;
  }
  #main-header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-logo{
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  #main-header h2{
    width: 90%;
    justify-content: center;
  }
  .main-container{
    display: flex;
    padding: 0;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #main-nav{
    display: none;
  }
  /*HAMURGER MENU */
  .hamb-menu{
    justify-content: center;
    align-items: center;
    width: 10%;
    display: flex;
    flex-direction: column;
    height: 6vh;
  }
  .hamb-menu div{
    width: 20px;
    height: 6px;
    align-items: center;
    position: relative;
    display: flex;
  }
  #hamb-nav{
    display: none;
  }
  .hamb-menu:hover{
    position: fixed;
    background-color: cover;
    display: flex;
    width:100%;
    height: 1000%;
    margin-left: 20% ;
    background-color: #333;
    z-index: 1000;
  }
  .hamb-menu:hover #hamb-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  #hamb-nav a{
    text-decoration: none;
  }


  /*---box-transação---*/
  .box-trans{
    width: 90%;
    margin:  2%;
    border: none;
    border-bottom: 1px solid #979797;
  }
  .box-trans form{
    width: 100%;
  }
  .box-trans h2{
    display: none;
  }
  /*---box-extract---*/
  .box-extract{
    width: 90%;
    padding: 0;
    margin: 0;
  }
}